Hai there
<%= render :partial => "page_setup", :locals => {:seeds => @seeds} %>

<%= link_to "Login", {:controller => :admins, :action => :login}, :id => "haro" %>

<% if flash[:message] %>
<%= flash[:message] %>

<br/>
<% end %>	
<% @seeds.each do |s| %>
	<div id="seedcontainer<%=s.id.to_s%>">
		<div id="thumbdiv<%=s.id.to_s%>"><%= image_tag "sw.png", :id => "thumbnailimg#{s.id.to_s}" %></div> 
		<div id="seedesc<%=s.id.to_s%>" class="seedesc"><h3><%= s.title %></h3> <div class="seedescp"><p><%= s.description%></p></div></div>
		<div id="pulse<%=s.id.to_s%>"></div>
	</div>
	
	
<% end %>