Hai there
<%= render :partial => "clicked_setup" %>
<%= link_to "Login", {:controller => :admins, :action => :login}, :id => "haro" %>

<% if flash[:message] %>
<%= flash[:message] %>
<br/>
<% end %>	
<hr/>
<% @seeds.each do |s| %>
	<div id=<%= "seed"+s.id.to_s%>>
	<b><%= s.title %></b> <br/>
	Description: <br/>
	<%= embed(s) %> <br/>
	<%= s.description %> <br/>
	<%= image_tag s.thumbnail %> <br/>
	<%= link_to "Click", {:controller => :seeds, :action => :clicked, :id => s.id}, :remote => true %>
	</div>
<% end %>
<hr/>