Hai there
<%= render :partial => "page_setup", :locals => {:seeds => @seeds} %>

<%= link_to "Login", {:controller => :admins, :action => :login}, :id => "haro" %>

<div id="header"><div id="logo"></div><span id="menubar"><span id="about"></span><span id="circles"><span id="circle"></span><span id="circle"></span><span id="circle"></span><span id="circle"></span><span id="circle"></span><span id="circle"></span><span id="circle"></span></span><span id="search"><span id="searchlabel"></span><%= form_tag do %> <%= text_field "field", "field2", :id => "searchfield" %> <% end %>
</span></span><div>

<% @seeds.each do |s| %>
	<div id="seedcontainer<%=s.id.to_s%>">
		<div id="thumbdiv<%=s.id.to_s%>"><%= image_tag "sw.png", :id => "thumbnailimg#{s.id.to_s}" %></div> 
		<div id="seedesc<%=s.id.to_s%>" class="seedesc"><div id="seedescwrapper<%=s.id.to_s%>"><h3><%= s.title %></h3> <div class="seedescp"><p><%= s.description%></p></div></div></div>
		<div id="pulse<%=s.id.to_s%>"></div>
	</div>
	
	
<% end %>