<script type="text/javascript">
	$(document).ready(function () {
		
		$("#comment_input").val("Write a comment...");
		$("#comment_input").css("color", "#A0A0A0 ");
			
		$("#comment_input").bind({
					
			focusin: function() {
				if ( $("#comment_input").val() == "Write a comment..." ) {
					$("#comment_input").val("");
					$("#comment_input").css("color", "#303030 ");
				}
				
			},
			
			focusout: function() {
				
				if ( !$("#comment_input").val() ) {
					$("#comment_input").val("Write a comment...");
					$("#comment_input").css("color", "#A0A0A0 ");
				}
			}
		});
		
		$("#comment_input").parent("form").bind("ajax:beforeSend",function(e,data,status,xhr) {
            $("#comment_input").attr("disabled",true);
            $("#comment_input").val("");
        });
        
        $("#comment_input").parent("form").bind("ajax:success",function(e,data,status,xhr) {
            $("#comment_input").attr("disabled",false);
            
            var jsp = $("#seed_detail_desc").data('jsp');
            jsp.reinitialise();
        });
		
		$("#close_seed").bind({
			
			click: function() {
				$("#seed_detail_background").remove();
			}
		});
		
		$("#transparent_layer").bind({
			
			click: function() {
				$("#seed_detail_background").remove();
			}
		});
		
		$("#seed_detail_desc").jScrollPane();
	});
</script>

<div id="seed_detail_background">
	<div id="transparent_layer">
	</div>
	<div id="seed_detail_container">
		<div id="seed_detail_media">
			<%= embed(seed) %>
		</div>
		<div id="seed_detail_panel">
			<div id="close_seed">
			</div>
			
			<h3><%= seed.title %></h3>
			<div id="seed_detail_desc">
				<p><%= seed.description.html_safe %></p>
				<%= form_for @comment, :url => {:controller => :comments, :action => :create}, :remote => true do |f| -%>
					<%= f.hidden_field :seed_id, :value => seed.id %>
					<%= f.text_field :content, :id => "comment_input" %>
				<% end -%>
				<div id="comments_container">
					
					<% @comments.each do |comment| %>
						<%= render :partial => "seeds/comment", :locals => {:comment => comment} %>
					<% end %>
				</div>
			</div>
		</div>
	</div>
</div>
