<% form_for @seed, :url => { :action => form_action } do |f| %>
		<legend>New Seed</legend>
		<ul>
			<li>
				<%= f.label :title, "Title:"%>
				<%= f.text_field :title %>
			</li>
			<li>
				<%= f.label :description, "Description:"%>
				<%= f.text_area :description %>
			</li>
			<li>
				<%= f.label :thumbnail, "Thumbnail image:"%>
				<%= f.text_field :thumbnail %>
			</li>
			<li>
				<%= f.label :content, "Content:"%>
				<%= f.text_field :content %>
			</li>
			<li>
				<%= f.label :mediatype, "Type:"%>
				<%= f.select :mediatype, getMediaTypes().collect {|t| [t, t]} %>
			</li>
		</ul>
    <p><%=f.submit submit%></p>
<% end %>