<!DOCTYPE html>
<html>
<head>
  <title>Whitespace</title>
  
  <%= javascript_include_tag 'jquery-1.6.1.min' %>
  <%= javascript_include_tag 'rails' %>
  <%= javascript_include_tag 'application' %>
  <%= javascript_include_tag 'jscrollpane/jquery.mousewheel' %>
  <%= javascript_include_tag 'jscrollpane/jquery.jscrollpane.min' %>
  <%= javascript_include_tag 'application' %>
  <%= stylesheet_link_tag :all %>
  
  <% if controller.controller_name == "main" && controller.action_name == "index" %>
  	<%= javascript_include_tag 'mainindex' %>
  	<%= javascript_include_tag 'mainindex' %>
  <% end %>
  
  <%= csrf_meta_tag %>
</head>
<body class="body">

<%= yield %>

</body>
</html>
